extends ./layout
block title
	title Pollable | #{poll.title}
block left-content
	.text-center
		.form
			form#poll-form(method='post')
				h1.h1-pad #{poll.title}
				ul
					each choice in poll.choiceStrings
						li
							input(type='radio', id="#{choice}" value="#{choice}" name='choice')  
							label(for="#{choice}")
								|	#{choice}
							.check
				button.btn.btn-vote.bg-accent(type='submit') Vote
		.btn-container
			button.btn.btn-share 
				i(class="fa fa-share-alt" aria-hidden="true")
				| Share
			if removable
					button.btn.btn-delete(type='submit') Delete
block right-content
	if !firstVote
		canvas(id="pollChart")
block popup
	.popup
		h2 Share to
		h3
			a(href="https://www.facebook.com/sharer/sharer.php?u=https%3A//pollable-mishellscripts.c9users.io/poll/#{poll.id}")
				i(class="fa fa-facebook" aria-hidden="true") 
				| Facebook
		h3
			a(href="https://twitter.com/home?status=https%3A//pollable-mishellscripts.c9users.io/poll/#{poll.id}")
				i(class="fa fa-twitter" aria-hidden="true") 
				| Twitter
		h3
			a(href="https://plus.google.com/share?url=https%3A//pollable-mishellscripts.c9users.io/poll/#{poll.id}")
				i(class="fa fa-google-plus" aria-hidden="true") 
				| Google Plus				
		button.btn.btn-close Close