extends ./layout
block title
	title Profile | Your polls and stats

block left-content
	#user-stats
		h1 Your stats
		p
			span Username: #{user.github.username}
		p
			span Display Name: #{user.github.displayName}
		p
			span Polls created: #{user.pollsCreated}
		p
			span Polls voted: #{user.pollsVoted}

block right-content
	h1 Your polls made with <3
	#poll-list
		each poll in polls
			li
				a(href="/poll/#{poll.id}") #{poll.title}
